<IfModule mod_rewrite.c>
  # Instructions for rewrite rules
  Options +FollowSymLinks
  RewriteEngine On
  RewriteBase /
  RewriteRule (.*) /cgi/$1 [L]

  # Forcing www in the URL
  #RewriteCond %{HTTP_HOST} ^[^.]+.[^.]+$
  #RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Removing www in the URL
  RewriteCond %{HTTP_HOST} ^www.((?:[^.]+.)+[^.]+)$
  RewriteRule .* https://%1 [L,R=301]
</IfModule>
